body, html {
    font-family: 'Pangolin', cursive;
    background-color: #f7f7f7;
}

/* font-family: 'Pangolin', cursive; */
/* font-family: 'Roboto Mono', monospace; */

/* START NAVIGATION */

.navigation {
    /* padding-left: 750px; */
    text-align: right;
    margin-bottom:150px;
}

.navigation a{
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    
}

.navigation a:hover{
    color: salmon;
}

/* END NAVIGATION */

.container {
    margin: 0 auto;
    max-width: 50%;
    padding: 20px;
}

.about-skill {
    max-width: 100%;
    height: auto;
    padding-left: 100px;
    margin-top: 30px;
    /* border: 2px solid red; */
}
.about-skill .lefty {
    float: left;
    width: 200px;    
    height: auto;

}

.about-skill .righty {
    float: left;
    width: 300px;
    height: auto
}